<div class="footer">
    <div class="row">
        <div class="col-sm-3 contact">
            <h3>Contact Us</h3>
        </div>
        <div class="col-sm-3 email-num">
            <p><i class="fa-regular fa-envelope" style="font-size:20px"></i> procodecg@gmail.com</p>
            <p><i class="fa-brands fa-whatsapp" style="font-size:23px"></i> (+62)8122015409</p>
        </div>
        <div class="col-sm-6 soc-med">
            <a href="https://www.facebook.com/procodecg"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
            <a href="https://www.instagram.com/procodecg/"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href="https://www.youtube.com/channel/UCvPLGzRfqlHNTgFkPy0pkvw"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
            <a href="https://procodecg.wordpress.com/"><i class="fa-brands fa-wordpress" style="color: #ffffff;"></i></a>
        </div>

    </div>
</div>